body {
	font-family: Roboto, sans-serif;
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
	text-decoration: none;
}

a:hover {
	color: #00e0d0;
	transition: all 0.5s;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

header .container {
	min-width: 750px;
}

.container2 {
	text-align: left;
	margin-left: 410px;
	max-width: 550px;
}

.banner {
	height: 650px;
	background: url(../images/headerbg.png) no-repeat center top/cover;
}

.sticky {
	position: fixed;
	width: 100%;
	background: #30235f;
	box-shadow: 3px 1px 0.99px 0.01px rgba(0, 0, 0, 0.05);
	padding: 20px 25%;
    transition: all 1s ease;
}

.logo {
	margin-top: 15px;
	float: left;
}

header {
	padding: 0px 15%;
}

header nav {
	float: right;
}

.menu-element {
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bolder;
	margin-top: 35px;
	padding-left: 25px;
	color: #fff;
}

.active {
	color: #00e0d0;
}

.primarytext {
	color: #413d4b;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 400;
	margin: 0;
}

.banner .primarytext {
	text-transform: capitalize;
	font-size: 26px;
	padding-top: 190px;
	color: #fff;
	text-align: center;
}

.banner .primarytext:after {
	content: '';
	background-color: #00e0d0;
	width: 50px;
	height: 2px;
	margin: 20px auto;
	display: block;
}

.secondarytext {
	font-size: 14px;
	font-weight: 400;
	padding: 10px 0;
	color: #817f86;
}

.banner .secondarytext {
	text-align: center;
	max-width: 820px;
	margin: 25px auto;
	color: #fff;
}

.button {
	text-transform: uppercase;
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding: 11px 6px;
	border: 1px solid #00e0d0;
	border-radius: 2px;
	color: #00e0d0;
	width: 150px;
}

.banner .button {
	margin: 0 auto;
}

.button:hover {
	background-color: #00e0d0;
	color: #413d4b;
}

.bannerpages {
	text-align: center;
	margin-top: 170px;
}

.page {
	display: inline-block;
	margin: 0 3px;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	border-radius: 50%;
}

.page.active {
	border: 1px solid #00e0d0;
	background-color: #00e0d0;
}

.story {
	margin: 80px 0;
}

.biglogo {
	float: left;
}

.video {
	background: url(../images/videobg.png) no-repeat center top/cover;
}

.video .container {
	padding: 203px 0;
}

.video p {
	padding-top: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bolder;
	color: #fff;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	display: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 890px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #000;
}

.close {
	float: right;
}

.expertise {
	margin: 75px 0;
	text-align: center;
}

.expertise .secondarytext {
	margin: 0;
	font-size: 16px;
}

.expertise > .container > .secondarytext:after, .team .secondarytext:after {
	content: '';
	background-color: #c6c4c9;
	width: 50px;
	height: 2px;
	margin: 20px auto;
	display: block;
}

.capabilities {
	margin-top: 50px;
}

.capability {
	display: inline-block;
	max-width: 300px;
	padding: 0px 5px;
}

.capability h3 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bolder;
	color: #413d4b;
	margin: 10px 0;
}

.capability:nth-child(3n+1):after {
	content: '';
	background-color: #ebebeb;
	width: 940px;
	height: 1px;
	margin: 40px auto;
	display: block;
}

.team {
	background: url(../images/teambg.png) no-repeat center top/cover;
	text-align: center;
}

.team .container, .quotes .container, .ourworks, .feedback .container, footer .container {
	padding: 70px 0;
}

.team .primarytext, .team .secondarytext {
	color: #fff;
}

.worker {
	display: inline-block;
	padding: 0;
	margin: 0 5px;
	border: 1px solid #727187;
}

.name, .post {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bolder;
	color: #fff;
	margin: 15px 0;
}

.post {
	font-weight: 300;
	color: #d3d3d3;
}

.team p:last-of-type {
	margin-top: 55px;
	color: #fff;
}

.team .button {
	margin: 10px auto;
}

.ourworks .primarytext {
	float: left;
	padding-left: 10px;
}

.dribbblelink {
	font-size: 18px;
	float: right;
	margin: 0 10px 0 0;
	padding: 0;
	color: #413d4b;
}

.portfolio {
	margin: 70px auto;
	display: flex;
	flex-wrap: wrap;
}

.work {
	width: 267px;
	flex-grow: 1;
	margin-bottom: 1%;
}

.work p {
    opacity: 0;
    margin: 0;
    line-height: 200px;
    text-align: center;
    color: #fff;
}

.work:hover p {
    opacity: 1;
    background: rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 1s ease;
}

.work:nth-child(1n+1) {
	background: url(../images/img2.jpg) no-repeat center top;
}

.work:nth-child(2n+1) {
	background: url(../images/img1.jpg) no-repeat center top;
}

.quotes {
	background: url(../images/quotesbg.png) no-repeat center top/cover;
	text-align: center;
	color: #fff;
}

.quote {
	font-size: 17px;
	padding-bottom: 50px;
}

.quote:before {
	content: url(../images/quote.png);
	display: block;
	padding-bottom: 35px;
}

.leftarrow {
	content: url(../images/leftarrow.png);
	display: inline-block;
	vertical-align: middle;
	padding-right: 20px;
}

.rightarrow {
	content: url(../images/rightarrow.png);
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
}

.photo {
	display: inline-block;
	vertical-align: middle;
	padding: 20px 8px;
}

.feedback .container2 {
	padding-left: 100px;
}

.textinput {
	float: left;
}

.form {
	margin: 20px 0 15px 0;
}

.form-control {
    display: inline-block;
    width: 462px;
    height: 35px;
    padding: 6px 25px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-radius: 0px;
	font-family: Roboto, sans-serif;
	color: #413d4b;
}

.clients {
	margin-top: 20px;
}

.client-logo {
	display: inline-block;
	width: 160px;
	text-align: center;
	padding-bottom: 25px;
}

.client-logo:nth-child(2n+1) {
	margin-right: 80px;
}

footer {
	background: url(../images/footerbg.png) no-repeat center top/cover;
	color: #fff;
}

.footertop {
	display: flex;
}

.about {
	float: left;
}

.about .secondarytext {
	width: 270px;
	padding-top: 75px;
	font-weight: 300;
	color: #fff;
}

footer .menu-element {
	padding: 0 35px 0 0;
}

.footer_primarytext {
	padding-top: 20px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
}

.contacts {
	margin-left: 55px;
}

.contacts .secondarytext {
	width: 350px;
	color: #fff;
	line-height: 26px;
}

.contacts p:before {
	content: url(../images/location.png);
	padding-right: 15px;
	display: inline-block;
	float: left;
}

.contacts span:before {
	content: url(../images/number.png);
	padding: 5px 15px 0 0;
	display: inline-block;
	vertical-align: middle;
}

footer input {
	width: 210px;
	border: 1px solid #e5e5e5;
	outline: 0;
	padding: 10px;
	background: none;
	color: #fff;
}

.subscription {
	margin-left: 70px;
	float: right;
}

.social {
	margin-top: 20px;
}

.social i {
	display: inline-block;
	width: 37px;
	border-radius: 50%;
	border: 1px solid #fff;
	margin-right: 2px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	padding: 6px 0;
}

.social i:hover {
	background: #00e0d0;
	color: #fff;
	border: 1px solid #00e0d0;
	transition: all 0.5s;
}

.fb:before {
	content: url(../images/fb.png);
}

.tw:before {
	content: url(../images/tw.png);
}

.drb:before {
	content: url(../images/drb.png);
}

.ig:before {
	content: url(../images/ig.png);
}

.yt:before {
	content: url(../images/yt.png);
}

.navigation nav {
	float: left;
}

.copyright {
	float: right;
	padding-top: 18px;
	font-size: 14px;
}

.anchor {
	position: relative;
}

#home, #about, #expertise, #team, #works, #peoplesay, #contact {
	position: absolute;
	bottom: 170px;
	left: 0;
    width: 0px;
    height: 0px;
}